/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
*{
    background-color: azure;
    font-family: sans-serif;
    box-sizing: border-box;
}